body {
  background: repeating-linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  text-align: center;
}
h1 {
  font-size: 50px;
  margin-top: 200px;
}
p {
  font-size: 25px;
}
button {
  background: olivedrab;
  font-size: 25px;
  color: white;
  border: green;
  margin: 10px;
}
.home-h1 {
  color: olivedrab;
  margin-top: 0em;
}
.time {
  margin-top: 10px;
  font-size: 25px;
}
#btn0,
#btn1,
#btn2,
#btn3 {
  background: linear-gradient(135deg, orange 60%, cyan);
  width: 120px;
  font-size: 20px;
  color: white;
  border: 1px solid #1d3c6a;
  margin: 10px 20px 10px 0px;
  padding: 10px 10px;
}
#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
  cursor: pointer;
  background: linear-gradient(#e66465, #757fe9);
}
