body {
  background-color: white;
  text-align: center;
}
h1 {
  font-size: 50px;
  margin-top: 200px;
}
p {
  font-size: 25px;
}
button {
  background: olivedrab;
  font-size: 25px;
  color: white;
  border: green;
  margin: 100px;
}
.home-h1 {
  color: olivedrab;
  margin-top: 0em;
}
.time {
  margin-top: 10px;
  font-size: 25px;
}
.btn0,
.btn1,
.btn2,
.btn3 {
  background-color: olivedrab;
  width: 120px;
  font-size: 20px;
  color: white;
  border: 1px solid #1d3c6a;
  margin: 10px 20px 10px 0px;
  padding: 10px 10px;
}
.btn0:hover,
.btn1:hover,
.btn2:hover,
.btn3:hover {
  cursor: pointer;
  background-color: goldenrod;
}
